.input-field {
  width: 100%;
  max-width: 900px;
}

.open-dialog-btn {
  margin-bottom: 1.5rem;
  padding: 1rem;
}

mat-label {
  margin-left: 1.5rem;
}

.container {
  margin-bottom: 3rem;
  background-color: #f1f1f1;
}

.button-select {
  padding: 10px 20px;
  margin-right: 1.5rem;
}

.button-select > span {
  word-wrap: break-word;
}

.selected {
  font-weight: 500;
  background-color: #add8e6;
}