<div *ngIf="formState$ | async as formState">
  <!-- DYNAMIC FORM -->
  <form [ngrxFormState]="formState" (submit)="submit()">
    <ng-container *ngFor="let question of questions">
      <app-question-base
        [question]="question"
        [control]="formState.controls[question.id]"
      >
        <app-error
          [control]="formState.controls[question.id]"
          [error]="(errors$ | async)['_' + question.id]"
        >
        </app-error>
      </app-question-base>
    </ng-container>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!(formValid$ | async) && (formSubmitted$ | async)"
    >
      SOUMETTRE
    </button>
  </form>

  <!-- FOR TESTING THE FORM -->
  <br />
  <div *ngIf="submittedValue$ | async">
    The form was submitted with the following value:
    <br />
    <pre>{{ submittedValue$ | async | json }}</pre>
  </div>
</div>
