.table {
  width: 100%;
  margin-bottom: 3rem;
}

.table-input {
  background-color: rgb(240, 237, 237);
  border-radius: 10px;
  max-width: 50px;
  height: 40px;

  &:focus {
     background-color: rgb(221, 219, 219);
  }
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-cell:last-of-type,
.mat-header-cell:last-of-type,
.mat-footer-cell:last-of-type {
  text-align: center;
  vertical-align: middle;
}

th {
  color:rgb(63, 63, 63);
  font-size: 14px;
}

.table-input {
  text-align: center;
}
