.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

  .table-input {
      background-color: rgb(240, 237, 237);
      border-radius: 10px;
      max-width: 70px;
      height: 40px;
      text-align: center;
  }