<table mat-table [dataSource]="responses" class="demo-table">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Percentage of work done for each activities</th>
    <td mat-cell *matCellDef="let element">{{element.label.LabelEn}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="percentage">
    <th mat-header-cell *matHeaderCellDef>%</th>
    <td mat-cell *matCellDef="let element">
        <input placeholder= "0" class="table-input" matInput type="number" value="{{element.percentage}}">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
