<div class="wrap" [ngSwitch]="question.type">
  <div *ngSwitchCase="'TEXT'">
    <app-input
      [question]="question"
      [control]="control"
      [error]="error"
    ></app-input>
  </div>

  <div *ngSwitchCase="'NUMBER'">
    <app-input
      [question]="question"
      [control]="control"
      [error]="error"
    ></app-input>
  </div>

  <div *ngSwitchCase="'MULTIPLE'">
    <app-select [question]="question" [control]="control"></app-select>
  </div>

  <div *ngSwitchCase="'SELECT'">
    <app-select [question]="question" [control]="control"></app-select>
  </div>

  <div *ngSwitchCase="'REPARTITION'">
    <app-repartition [question]="question" [control]="control"></app-repartition>
  </div>
</div>
