<section class="prime-section">
  <div class="prime-box">
    <h1>Votre prime estimée</h1>
    <p class="prime-box__prime">
      <span class="prime-box__prime--highlight">188,17</span><span>$</span>/ Mois + taxes
    </p>
    <p>Nous vous contacterons sous peu pour finaliser votre demande.</p>
    <p>Pour plus d'informations:</p>
    <p class="prime-box__phone">1 855 745-2020</p>
  </div>

  <div class="more-info">
    <p class="more-info__header">D'autres protections, frais et rabais peuvent s'appliquer.</p>
    <p>Veuillez noter que l'estimation de prime obtenue plus haut est établie selon les informations que nous nous avez
      fournies. Il se peut que cet estimé soit modifié durant la
      collected d'informations complémentaires.
    </p>
  </div>
</section>