.prime-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(68, 67, 67);
    background-color: #f2f2f2;

    &>* {
        margin-top: 1.5rem;
    }
}

.prime-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 230, 230);
    width: 100%;
    max-width: 600px;
    padding: 1.5rem;

    &__prime {
        font-size: 1.8rem;
        font-weight: bold;
        padding: 1rem 0.5rem;

        &--highlight {
            color: crimson;
            font-size: 3.5rem;
        }
    }

    &__phone {
        font-weight: bold;
        color: crimson;
    }
}

.more-info {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    max-width: 600px;

    &>* {
        margin-bottom: 1.5rem;
    }

    &__header {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.5;
    }
}

.forms {
    position: absolute;
    top: -165px;
    left: -50px;
}

.prime-header {
    position: absolute;
    top: -60px;
    right: 0;
    font-size: 2rem;
}

.highlight {
    font-weight: bold;
    color: crimson;
}