.chip {
  background-color: #ffffff;
  border: 1px solid rgb(237, 235, 235);
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  margin-right: 1rem;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  word-wrap: break-word;

  &:active {
    background-color: #f7f7f7;
    border-color: rgb(170, 168, 168);
    transform: scale(0.96);
  }
}

.selected {
    font-weight: 500;
    background-color: #002984;
    color: #fff;
    border: 1px solid #002984;
  }

