<!-- SELECT UNIQUE/MULTIPLE WITH MORE THAN 10 CHOICES-->
<div class="container" *ngIf="question.responses.length > 10">
  <div class="open-dialog-btn">
    <button
      class="add"
      type="button"
      (click)="openMultiSelectDialog()"
      mat-mini-fab
      color="primary"
    >
      <mat-icon>add</mat-icon>
    </button>
    <mat-label>{{ question.title.LabelEn }}</mat-label>
  </div>

  <mat-chip-list  #chipList *ngIf="selectedOptions.length > 0">
    <mat-chip *ngFor="let opt of selectedOptions" (removed)="remove(opt.id)">
      <small>{{ opt.label.LabelEn }}</small>
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>

  <input type="hidden" [ngrxFormControlState]="control" />
</div>

<!-- SELECT UNIQUE/MULTIPLE WITH LESS THAN 10 CHOICES-->
<div class="select-single" *ngIf="question.responses.length <= 10">
  <mat-label>{{ question.title.LabelEn }}</mat-label>
  <mat-chip-list>
    <app-chip
      *ngFor="let option of question.responses"
      (click)="select(option.id)"
      [selected]="isSelected(option.id)"
    >
      {{ option.label.LabelEn }}
    </app-chip>
  </mat-chip-list>
  <input type="hidden" [ngrxFormControlState]="control" />
</div>
