.input-field {
  width: 100%;
  max-width: 900px;
}

.open-dialog-btn {
  margin-bottom: 1.5rem;
  padding: 1rem;
}

mat-label {
  margin-bottom: 1.5rem;
}

.add {
  margin-right: 1rem;
}

.container {
  margin-bottom: 3rem;
  background-color: #f8f6f6;
  border-radius: 10px;
}

.button-select {
  padding: 10px 20px;
  margin-right: 1.5rem;
}

.button-select > span {
  word-wrap: break-word;
}

.select-single {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0.5rem;
}

